* {
    margin: 0;
    // padding: 0;
    box-sizing: boder-box;
}

html, body {
    height: 100%;
}

body {
    font-size: $default-font;
    overflow-x: hidden;
}

.underline {
    border-bottom: 4px solid $main-color;
    padding-bottom: 10px;
}

.section-header {
    font-family: $raleway;
    text-align: center;
    color: #333;
}

.success-toast {
    background-color: $success !important;
    color: $off-white !important;
}

.error-toast {
    background-color: $error !important;
    color: $off-white !important;
}