.header-top {
    background-color: $off-white;
    padding: $sm-size;

    .church-name {
        font-family: $kalam;
        font-size: $lg-font;
        text-transform: uppercase;
        font-weight: bold;
    }

    .archdiocese {
        font-size: $md-font;
        text-transform: uppercase;
    }
}