nav {
    background-color: #fff !important;
    position: relative;
    z-index: 99 !important;
    transition: 1.5s linear all;
}

nav#push.sticky {
    background-color: rgba(204, 172, 0, 0.95) !important;
}

nav#push.sticky ul li a {
    color: $off-white !important;
}

nav#push.sticky ul li a:hover {
    color: $main-color !important;
}

.nav-wrapper {
    background-color: transparent;
    border: none;
    padding-left: $md-size;
    padding-right: $md-size;
}

nav ul li a {
    color: #333 !important;
}

nav ul li a:hover {
    color: darken($main-color, 5%) !important;
}

.home-icon {
    margin-right: 10px;
}

.menu-icon {
    color: $dark-gray;
}

// .active-page {
//     color: $main-color !important;
// }

.sidenav-trigger {
    color: $off-black;
}

.sticky {
    background-color: red;
    position: fixed !important;
    top: 0;
    width: 100%;
}