.parish-programmes {
    font-family: $quicksand;
    
    h3 {
        color: $off-black;
        text-align: center;
    }
    .collection {
        margin-top: $xxl-size;
        margin-bottom: $xxl-size;
    }

    li.collection-header {
        background-color: $off-white !important;
        color: $dark-gray;
    }

    .collection-item, .secondary-content {
        color: $dark-gray;
    }
}

@media (max-width: $md-break-point) {
    .parish-programmes {
        .collection-item.first {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (max-width: $md-break-point) {
    .underline {
        border-bottom: none !important;
    }
}