.parallax {
    background-image: url('../img/pray-rosary.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 400px;
    font-family: $kalam;
    color: $main-color;
    margin-top: -25px;
}

.parallax h4 {
    position: relative;
    top: 100px;
    text-align: center;
}