.slider {
    .slide3-caption {
        font-family: $quicksand;
        background-color: $transparent-black;
        color: $main-color;
    }

    .indicators .indicator-item.active {
        background-color: darken($main-color, 10%) !important;
    }
}