.values {
    margin-top: $xl-size;
    margin-bottom: $xl-size;
}
.value {
    // border: 2px solid $off-white;
    border-radius: 2px;
    // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    text-align: center;

    .value-icon:before {
        background-color: darken($main-color, 10%);
        border-radius: 50%;
        width: 150px;
        height: 150px;
        padding-top: 15px;
    }

    .value-icon {
        font-size: 80px !important;
        color: $off-white;
    }

    h4 {
        color: darken($main-color, 10%);
        font-family: $raleway;
        font-weight: 700;
    }

    p {
        color: $dark-gray;
        font-family: $quicksand;
    }
}