.values {
    margin-top: $xl-size;
    margin-bottom: $xl-size;
}

.value {
    border-radius: 2px;
    text-align: center;

    .value-icon:before {
        background-color: darken($main-color, 10%);
        border-radius: 50%;
        width: 150px;
        height: 150px;
        padding-top: 15px;
    }

    .value-icon {
        font-size: 80px !important;
        color: $off-white;
    }

    h4 {
        color: darken($main-color, 10%);
        font-family: $raleway;
        font-weight: 700;
    }

    p {
        color: $dark-gray;
        font-family: $quicksand;
    }
}

@media (max-width: $md-break-point) {
    .value {
        border: 1px solid rgba(160, 160, 160, 0.2);
        padding-top: $md-size !important;
        padding-bottom: $md-size !important;
    }
}